.butt{
    border: 0;
    padding: 0.3em;
    border-radius: 5px;
    background-color: theme.$neutral;
    color: theme.$head-heavy;
    cursor: pointer;
  }

  .butt:hover{
    transform: scale(1.02);
  }

  .butt:active{
    transform:scale(1);
  }

  .clickable{
    cursor: pointer;
  }
  .clickable:hover{
    transform: scale(1.02);
  }
  .clickable:active{
    transform:scale(1);
  }
  
  .butt-standard-outline{
    background-color: theme.$bg-neutral;
    border: 1px solid theme.$action-border;
  }
  .butt-alternate-outline{
    background-color: theme.$bg-neutral;
    border: 1px solid theme.$bg-action;
  }
  .butt-good-outline{
    background-color: theme.$bg-neutral;
    border: 1px solid theme.$good;
  }
  .butt-warn-outline{
    background-color: theme.$bg-neutral;
    border: 1px solid theme.$warn;
  }
  .butt-bad-outline{
    background-color: theme.$bg-neutral;
    border: 1px solid theme.$err;
  }
  .butt-attn-outline{
    background-color: theme.$bg-neutral;
    color: theme.$attn;
    border: 1px solid theme.$attn;
  }

  .butt-attn{
    background-color: theme.$attn;
    color: white;
    border-color: theme.$attn;
  }
  .butt-good{
    background-color: theme.$good;
    color:white;
    border-color: theme.$good;
  }
  
  .butt-warn{
    background-color: theme.$warn;
    border-color: theme.$warn;
  }
  
  .butt-bad{
    background-color: theme.$err;
    color:white;
    border-color: theme.$err;
  }
  
  .butt-standard{
    background-color: theme.$bg-action;
    border-color: theme.$action;
  }
  
  .butt-alter{
    background-color: theme.$bg-work;
    border-color: theme.$bg-action;
  }