.float-start{
    float:left;
    text-align:start;
}
.float-end{
    float:right;
    text-align:end;
    margin-right:1em;
}
.float-center{
    float:none;
    text-align: center;
}

.hover-fade:hover{
    opacity:0.7;
}