
$bg: rgba(216, 216, 250, 0.3);
$bg-header: rgba(210, 210, 234, 1);
$bg-business: white;
$bg-work: whitesmoke;
$bg-highlight: rgb(128, 193, 255, 0.1);

$bg-shopping-list: rgba(255, 246, 222, 1);

$on-dark: rgba(240, 240, 240, 1);
$good: rgba(5, 156, 0, 0.7);
//$warn: rgba(255, 200, 200, 0.7);
$warn: rgb(219, 124, 35, 0.9);
$err: rgba(200, 55, 55, 0.9);
$neutral: rgba(236, 232, 253, 1);

$bg-action: rgba(210, 210, 254, 1);
$bg-action-hover: rgba(204, 204, 204, 1);
$action: rgba(117, 117, 117, 0.7);
$action-hover: rgba(117, 117, 117, 1);
$action-border: rgba(216, 216, 250, 1);

$head: rgb(70, 70, 70);
$head-heavy: rgb(54, 54, 54);

$data: rgb(0, 0, 66);
