
$bg: rgba(246, 246, 250);
$bg-header: rgba(210, 210, 254, 1);
$bg-business: white;
$bg-work: whitesmoke;
$bg-highlight: rgb(128, 193, 255, 0.1);

$bg-shopping-list: rgba(255, 246, 222, 1);

$on-dark: rgba(240, 240, 240);
$good: rgba(50, 146, 70);
//$warn: rgba(255, 200, 200, 0.7);
$warn: rgb(234, 174, 55);
$err: rgba(200, 55, 55);
$neutral: rgba(236, 232, 253, 1);

$bg-action: rgba(210, 210, 254);
$bg-action-hover: rgba(204, 204, 204);
$action: rgba(117, 117, 117, 0.7);
$action-hover: rgba(117, 117, 117, 1);
$action-border: rgba(170, 170, 255, 1);
$action-text: rgba(100, 100, 200, 1);

$attn: rgba(12, 111, 136, 0.9);

$head: rgb(70, 70, 70);
$head-heavy: rgb(54, 54, 54);

$data: rgb(0, 0, 66);
