.help-page{
    text-align:start;
    min-width: 100vw;
    width:100%;
    background-color:rgba(216, 216, 250, 1);
}

.jum{
    min-height:80vh;
    background-color:rgba(216, 216, 250, 0.3);
}

.jum h3 {
    text-align: start;
}

.jim{
    text-align:start;
    background-color: lavender;
}

.privacy-btn{
    text-align:center;
}