@use '../sass/theme';

.help-page{
    text-align:start;
    min-width: 100vw;
    width:100%;
    background-color:theme.$bg-header;
}

.jum{
    min-height:80vh;
    background-color: theme.$bg-header;
}


.jim{
    text-align:start;
    border-radius:30px;
    background-color: lavender;
}

img{
    border-radius:20px;
    margin-top:20px;
}

.privacy-btn{
    text-align:center;
}
