.help-page{
    text-align:start;
    min-width: 100vw;
    width:100%;
    background-color:rgba(216, 216, 250, 1);
}

.jum{
    min-height:80vh;
    background-color:rgba(216, 216, 250, 0.3);
}


.jim{
    text-align:start;
    border-radius:30px;
    background-color: lavender;
}

img{
    border-radius:20px;
    margin-top:20px;
}

.privacy-btn{
    text-align:center;
}