@use '../../../sass/theme';

/*.sugg-container{
  position:relative;
  display:inline-block;
  text-align:center;
  vertical-align:text-bottom;
  opacity:0.85;
}
*/

/** messing with opacity and transform:scale 
here created an issue with z-index of dropdown MENUR-73
no longer using sugg-container in Suggestion.js*/


.sugg-container{
  opacity: 0.75;
}
.sugg-container:hover{
  opacity:1;
}
  
.custom-toggle{
  position:absolute;
  width:16px;
  height:16px;
  top:7px;
  cursor:pointer;
  background: theme.$bg-action;
  background: linear-gradient(30deg, rgba(224,224,224,1) 0%, rgba(213,243,255,1) 0%, rgba(248,248,248,1) 100%);
}

.custom-toggle:hover{
  background: theme.$bg-action-hover;
  background: linear-gradient(60deg, rgba(104,104,104,1) 0%, rgba(153,193,205,1) 0%, rgba(248,248,248,1) 100%);
}
  
.custom-toggle small{
  color:theme.$action;
  position:absolute;
  top: -4px;
}
.custom-toggle:hover{
  color:theme.$action-hover;  
}
  
.plus-toggle{
  left:6px;
}
.plus-toggle small{
  left: 3px;
  top:-2px;
  font-size:small;
  font-weight: bold;
}

.info-toggle{
  right:6px;
}
.info-toggle small{
  left:5.25px;
  top:-1.5px;
  font-size:small;
  font-weight: bold;
}

@media screen and (min-width: 12cm){
  .info-toggle small{
    top:-2px;
    left:5.25px;
  }    
  .plus-toggle small{
    top:-4.5px;
    left:2px;
  }
}

.suggestion{
  opacity:0.7;
}

.suggestion:hover{
  opacity:0.9;
}

.sugg-good{
  background-color: rgba(theme.$good, 0.8);
}
.sugg-good:hover{
  background-color: theme.$good;
}
  
.sugg-good .suggestion-text{
  color:theme.$on-dark;
}
  
.sugg-ok{
  background-color: rgba(theme.$warn, 0.9);
}
 
.sugg-ok:hover{
  background-color: theme.$warn;
}

.sugg-ok .suggestion-text{
  color:theme.$on-dark;
}
 
.sugg-bad{
  background-color: rgba(theme.$err, 0.9);
}
 
.sugg-bad:hover{
  background-color: theme.$err;
}

.sugg-bad .suggestion-text{
  color:theme.$on-dark;
}
  
.sugg-none{
  background-color: rgba(theme.$neutral, 0.5);
}

.sugg-none:hover{
  background-color: theme.$neutral;
}

.suggestion-text{
  color: theme.$data;
  opacity: 1;
  font-size:smaller;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 5px;
}
  
.sugg-expand{
  position:absolute;
  text-align:end;
  display:inline-block;
  top:1px;
  right:3px;
  cursor: pointer;
  width: 15px;
}
  
.sugg-click-add{
  position:absolute;
  text-align:start;
  display:inline-block;
  top:1px;
  left:3px;
  cursor: pointer;
  width:15px;
}
  
.sugg-click-add-day{
  cursor: pointer;
}
  /*
  .sugg-ingredients{
    background-color:rgb(252, 242, 228);
    color: black;
    position:absolute;
    top: 200px;
    right:200px;
  }
  */
  /**
.sugg-ingredient{
  width:100%;
}
*/
  