@use '../../sass/theme';

.searcher{
    position: relative;
}
.search-results{
    z-index: 1001;
    background-color: theme.$bg-business;
    position:absolute;
    cursor: pointer;
}

.search-result-0{
    background-color: theme.$bg-highlight;
}
