@use '../../sass/theme';

.meal-gen-toggle-btn{
  cursor: pointer;
}

.meal-gen{
  position:relative;
}

.meal-gen-container{
  background-color: theme.$bg;
}
    
.meal-gen-toggle{
  border-color:theme.$action-border;
}
.meal-gen-toggle:hover{
  background-color:theme.$bg; 
}
  
.meal-gen-left{
  text-align:end;
}

.meal-gen-out{
  opacity: 0;
  height:0px;
  transition: visibility 0s linear 500ms, opacity 500ms;
  transition: max-height 500ms;
}

.meal-gen-in{
  visibility: visible;
  opacity: 1;
  transition:visibility 0s linear 0ms, opacity 500ms;
  transition: max-height 500ms;
}

input, select, textarea{
  border:1px solid rgb(190, 190, 190);
  border-radius: 2px;
}