
.mealplan-row{
    margin:0px;
    padding:0px;
}

.mealplan-row-m{
    margin:0px;
    padding:0px;
}

.pdf-download{
    color: white;
    text-decoration: none;
    padding-left:1em;
    padding-right:1em;
    text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 441px){
    .mealplan-row{
        min-width: 470px;
    }
}

@media screen and (min-width: 442px) and (max-width: 576px){
    .mealplan-row{
        min-width: 480px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .mealplan-row{
        min-width:720px;
    }
}

/**
.planner-page{
    min-width:80vw;
}

.mealplan-row{
    margin:0px;
    padding:0px;
}

.mealplan-row-m{
    margin:0px;
    padding:0px;
}

@media screen and (min-width: 0px) and (max-width: 441px){
    .mealplan-row{
        min-width: 470px;
    }
}

@media screen and (min-width: 442px) and (max-width: 576px){
    .mealplan-row{
        min-width: 480px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .mealplan-row{
        min-width:720px;
    }
}
*/