.dummy-plan{
    min-width:100%;
  }
  
  .dummy-plan-meal{
    position:relative;
    text-align: center;
    background-color:rgba(216, 216, 250, 0.3);
    font-size: x-small;
    font-weight:bold;
    max-height:40px;
    min-height:40px;
    overflow: hidden;
    margin-top:3px;
    cursor: pointer;
  }
  
  .dummy-plan-header{
    font-size: x-small;
    font-weight: bolder;
    text-align:start;
    color:rgb(153, 153, 153);
  }

  .dummy-plan-mealtime{
    min-width: 60px;
  }

  @media screen and (min-width:0px) and (max-width: 474px){
    .dummy-plan{
      min-width:max-content;
    }
    .dummy-plan-mealtime{
      min-width: 40px;
    }
  }

  @media screen and (min-width:475px) and (max-width: 754px){
    .dummy-plan{
      min-width:max-content;
    }
    .dummy-plan-mealtime{
      min-width: 48px;
    }
  }

  @media screen and (min-width:754px) and (max-width: 975px){
    .dummy-plan-mealtime{
      min-width: 63px;
    }
  }

  @media screen and (min-width:976px) and (max-width: 1183px){
    .dummy-plan-mealtime{
      min-width: 45px;
    }
  }

  @media screen and (min-width:1184px) and (max-width: 1382px){
    .dummy-plan-mealtime{
      min-width:50px;
    }
  }
  
  .dummy-plan-meal .name{
    position:absolute;
    left: 4px;
  }

  
  .dummy-plan-ing{
    font-size: xx-small;
    text-align: start;
    font-style:italic;
  }
  
  .showSpices{
    transition: all .5s ease;
    text-align: left;
  }
  .show-spices label{
    font-size:small;
    margin:0px;
    padding:0px;
    text-align: start;
  }

  .expand-meal{
    position:absolute;
    bottom:0px;
  }