.mealplan-container{
  min-width: 400px;
  margin:0px;
  padding:0px;
  padding-top:1%;
  background-color: whitesmoke;
}
.mealplan-container-o{
  max-width:100vh;
}
.mealplan-o{
  max-width:100vh;
}
.mealplan-o-target-container span .droptarget{
  min-height:100px;
  min-width:100px;
  padding:100px;
  margin:100px;
}
.toggle-orientation-ls{
   font-size: xx-small;
   min-width:55px;
   min-height:55px;
   border-radius:10px;
   opacity:0.8;
   background-color:rgba(216, 216, 250, 0.3);
   position:absolute;
   left:-20px;
   top:-20px;
}
 .toggle-orientation-pt{
   font-size: xx-small;
   min-width:60px;
   min-height:60px;
   opacity:0.8;
   background-color:rgba(216, 216, 250, 0.3);
   position:absolute;
   left:0px;
 }
 .toggle-orientation-pt > span{
    min-width:60px;
    min-height:60px;
 }
 .toggle-orientation-ls > span{
    min-width:60px;
    min-height:60px;
 }
 .toggle-orientation-ls:hover {
  transform:scale(1.1);
  font-size: xx-small;
  opacity:1;
 }
 .toggle-orientation-pt:hover{
   transform:scale(1.1);
   font-size: xx-small;
   opacity:1;
 }
 @media screen and (min-width: 992px){
  .toggle-orientation-pt{
    background-color: rgb(255, 200, 200);
  }
}


@media screen and (max-width: 768px){
 .toggle-orientation-ls{
   background-color: rgb(255, 200, 200);
 }
}

@media screen and (max-width: 400px) {
  .toggle-orientation-ls{
    background-color:rgb(255, 43, 43);
  }
}
 
 .mealplan-header{
   position:relative;
   font-size:xx-small;
   font-weight: bolder;
   text-align:start;
   color:rgb(153, 153, 153);
   min-width:40px;
 }

 .mealplan-header-m{
  color:rgb(153, 153, 153);
  text-align:start;
 }

 .mealplan-header-o{

 }

 .header-x{
  max-width:20px;
 }

 .header-x-o{
  min-width:12%;
  max-width:12%;
 }
 
 .mealplan-slot{
   min-width:40px;
   margin-left:5px;
   margin-bottom:5px;
   padding:0px;
 }

 .mealplan-slot-o{
    min-width:12%;
    max-width:12%;
 }

 .mealplan-target-m{
   min-height:100%;
 }

 span .droptarget{
   min-height:200px;
 }

 .mealtime{
  min-height:50px;
  display:inline-flexbox;
  padding-bottom:15%;
  background-color:rgba(216, 216, 250, 0.3);
  font-size:small;
  opacity: 0.8;
  border-radius: 8px;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
}

.mealtime-text{
  font-size:small;
  display:inline-flex;
  font-weight:normal;
  color:rgb(50, 50, 126);
  opacity: 0.8;
  position:relative;
}

.mealtime-ingredients{
  font-weight: normal;
  font-size: small;
  font-style: italic;
  color: black;
  text-align: start;
  position:relative;
  top:0px;
  left:-20px; 
}

 .expand-ingredients{
   position:absolute;
   bottom:0px;
   left:45%;
 }
 .expand-ingredients span{
  text-align: center;
  position:absolute;
  bottom:0px;
 }
 
 .meal-remove:hover{
   opacity: 0.7;
 }

.mealtime:hover{
 opacity:1;
}

@media screen and (min-width: 0px) and (max-width: 441px){
  .mealplan-header{ 
    min-width:35px;
    font-size:xx-small;
  }
  .header-x{
    min-width:35px;
   }
   .header-y{
    min-width:30px;
    max-width:30px;
   }
   .header-xy{
    min-width:45px;
   }
  .mealplan-slot{
    min-width:50px;
    font-size:xx-small;
  }
  .mealtime{
    font-size:xx-small;
    min-width:40px;
   }
   .mealtime-text{
     font-size:xx-small;
     position:absolute;
     left:0%;
   }
 }

 @media screen and (min-width: 442px) and (max-width: 576px){
  .mealplan-header{
    font-size:xx-small;
    text-align:start; 
  }
  .header-x{
    min-width:30px;
   }
  .mealplan-slot{
    min-width:50px;
  }
  .mealtime{
    font-size:xx-small;
    min-width:40px;
   }
   .mealtime-text{
     font-size:xx-small;
     position:absolute;
     left:0%;
   }
 }
@media screen and (min-width: 577px) and (max-width: 768px){
  .mealplan-header{
    font-size:x-small;
    text-align:start; 
  }
  .header-x{
    min-width:40px;
   }
  .mealplan-slot{
    min-width:55px;
  }
  .mealtime{
    font-size:x-small;
    min-width:60px;
  }
  .mealtime-text{
    font-size:x-small;
    position:absolute;
    left:0%;
  }
  .mealtime-ingredients{
     font-size:x-small;
  }
 }
 @media screen and (min-width: 769px) and (max-width: 992px){
  .mealplan-header{
    font-size:small;
    font-weight:bolder;
  }
  .header-x{
    min-width:70px;
   }
  .mealplan-slot{
    min-width:80px;
  }
  .mealtime{
    font-size:x-small;
    min-width:90px;
    vertical-align: middle;
   }
   .mealtime-text{
     font-size:x-small;
   }
 }

 @media screen and (min-width: 992px) and (max-width: 1199px){
  .mealplan-header{
    font-size:large; 
  }
  .header-x{
    min-width:90px;
   }
  .mealplan-slot{
    min-width:100px;
  }
  .mealtime{
    font-size:normal;
    min-width:106px;
   }
   
 }
 
 @media screen and (min-width: 1200px) and (max-width: 1399px){
  .mealplan-header{
    font-size:large;
  }
  .header-x{
    min-width:90px;
    min-width: 120px;
   }
  .mealplan-slot{
    min-width:130px;
  }
  .mealtime{
    font-size:normal;
    min-width:135px;
   }
 }  

 @media screen and (min-width: 1400px) and (max-width: 1599px){
  .mealplan-header{
    font-size:large; 
  }
  .header-x{
    min-width:145px;
   }
  .mealplan-slot{
    min-width:150px;
  }
  .mealtime{
    font-size:normal;
    min-width:155px;
 } 
} 

 @media screen and (min-width: 1600px){
  .mealplan-header{
    font-size:large; 
  }
  .header-x{
    min-width:140px;
   }
  .mealplan-slot{
    min-width:150px;
  }
  .mealtime{
    font-size:normal;
    min-width:150px; 
  } 
 }

 .leftover{
   display:inline;
 }
 
 .leftover-col{
   text-align: start;
   color:rgb(109, 109, 109);
 }

.footer{
  bottom:0px;
}

.cleardata{
  text-align:end;
}
