@use '../../sass/theme';

.gen-list{
    text-align:start;
    font-size:small;
    background-color: theme.$bg; 
    display:inline-block;
 }
  
  .user-list{
    min-height:100px;
    border-radius: 5px;
    margin-bottom: 5px;
    background:theme.$bg-shopping-list;
  }
  
  .user-list ul li{
    width:100%;
    position:relative;
  }
  
  .list-remove{
    position:absolute;
    text-align:end;
    right: 2px;
    cursor: pointer;
  }
  
  .list-heading{
    display:inline-block;
    margin-right: 10px;
  }

  .list-item-container{
    transition: all 0.3s ease;
  }

  .list-item{
    display:inline;
  }

  .push-down{
    margin-bottom:40px;
  }

  .list-item small{
    font-size:large;
  }

  .highlight-ingredient{
    text-align:end;
  }
  
  .highlighted{
    color: theme.$attn;
  }

