@use 'sass/theme';
@import 'sass/butt';

.App {
  text-align: start;
  background-color: theme.$bg;
  color: theme.$head;
}

.App small {
  font-size: x-small;
}

.App span {
  font-size: smaller;
}

.App h1, h2, h3, h4, h5, h6{
  color:theme.$head-heavy;
} 

