body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divider{
  background-color: silver;
  height:2px;
}

.selector{
  text-align: start;
}

.selector-heading{
  margin-bottom: 1em;
  font-weight:bold;
}

.selection-ingredients{
  
}

.suggestions{
  text-align:start;
}

.sugg-container{
  display:inline-block;
  position:relative;
}

.sugg-good{
  background-color: rgb(98, 255, 93);
}

.sugg-ok{
  background-color: rgb(255, 142, 37);
}

.sugg-bad{
  background-color: rgb(252, 98, 98);
}

.sugg-none{
  background-color: rgb(236, 232, 253);
}

.suggestion-text{
  color:rgb(0, 0, 66);
  font-size:smaller;
  font-weight: bold;
  margin-left: 5px;
  padding-top: 5px;
}

.sugg-expand{
  position:absolute;
  text-align:end;
  display:inline-block;
  top:1px;
  right:3px;
  cursor: pointer;
}

.sugg-ingredients{
  background-color:rgb(252, 242, 228);
  color: black;
}

.sugg-ingredient{
  width:100%;
}

.ing-row{
  text-align: end;
}

.bold {
  font-weight: bold;
}

.mealtime{
  min-width: 100px;
  min-height: 40px;
  background-color: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
}

.mealtime-text{
  font-size:smaller;
  text-align:start;
  vertical-align: bottom;
  display:inline;
  font-weight: bold;
  color:rgb(0, 0, 126);
}

.mealtime-close{
  position:absolute;
  text-align:end;
  display:inline-block;
  color:brown;
  top: 0px;
  right: 2px;
}

.mealplan-ingredients{
  font-weight: normal;
  color: black;
}

.leftover{
  display:inline;
}

.leftover-col{
  text-align: start;
}

.gen-list{
  text-align:start;
  font-size:small;
}

.user-list{
  padding-bottom: 100px;
  background-color: cornsilk;
  border-color: darkblue;
  border-radius: 5px;
  margin-bottom: 5px;
}

.user-list ul li{
  width:100%;
  position:relative;
}

.list-remove{
  position:absolute;
  text-align:end;
  right: 2px;
  cursor: pointer;
}

.list-heading{
  display:inline-block;
  margin-right: 10px; 
}

.end{
  text-align:end;
}

.footer{
  bottom:0px;
}

.cleardata{
  text-align:end;
}
