@use '../sass/theme';

/**
.account-page{
    margin-top:0px;
    min-width:80vw;
    min-height:100vh;
}

.edit-setting{
    color:theme.$action;
}

.edit-setting:hover{
    transform: scale(1.05);
    color:theme.$action-hover;
    cursor:pointer;
}

.default-servings-heading{
    text-align: start;
}

.default-servings-heading small{
    font-size: small;
}

.account-plans{
    background-color:theme.$bg;
}

.account-meals{
    background-color:theme.$bg;
}

.account-plans-header{
    cursor: pointer;
}

.account-meals-header{
    cursor: pointer;
}

.plan-container{
    position:relative;
    padding-bottom: 50px;
    margin-bottom:10px;
}
*/